.background-container {
    width: 100%;
    min-height: 100vh;
    /*background-image: url('../assets/flowers.jpeg');*/
    background-image: url('../assets/miku.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.34);
    width: 750px;
    height: 350px;
}

.search-input {
    margin-top: 15px;
    text-align: center;
}

input {
    height: 30px;
    width: 250px;
}

button {
    width: 100px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

input::placeholder {
    text-align: center;
}


