.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    background: white;
    max-width: 500px;
    border-radius: 10px;
    width: 100%;
}

.form-title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
    
}

.form-group {
    display: flex;
    align-items: left;
    justify-content: center;
    margin-bottom: 25px;
}

.register-button {
    display: flex;
    background-color: #7fa3f0;
    align-items: center;
    color: white;
    border-radius: 8px;
    padding: 19px 39px;
    width: auto;
    cursor: pointer;
}

.signup-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


input[type="text"] {
    border-bottom: 2px solid #7fa3f0;
    text-align: left;
}


.signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    border-color: black;
}

.signup-image {
    margin-left: 200px;
    width: 400px;
    height: auto;
}



