.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    background: white;
    max-width: 500px;
    border-radius: 10px;
    width: 100%;
}

.form-title {
    font-size: 40px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.register-button {
    display: flex;
    background-color: #7fa3f0;
    align-items: center;
    color: white;
    border-radius: 8px;
    padding: 19px 39px;
    width: auto;
    cursor: pointer;
}

.signup-image {
    display: flex;
    background-color: black;
}


